// Variables
$flow-item-icon-size: $size-normal !default;
$flow-done-color: $primary !default;
$flow-process-color: #cccccc !default;
$flow-item-title-size: $size-normal !default;
$flow-item-horizental-title-color: #666666 !default;
$flow-item-vertical-title-color: #4a4a4a !default;
$flow-item-content-size: $size-small !default;
$flow-item-content-color: $placeholder !default;
$flow-item-vertical-font-family: "PingFangSC-Medium", "SFUIText-Medium", "Microsoft YaHei", BlinkMacSystemFont, "Arial", sans-serif !default;

.flow {
  display: block;
  width: 100%;

  .flow-line,
  .flow-content {
    @include flex;
    height: auto;
    justify-content:space-between;
  }

  .flow-line {
    align-items: center;
    padding: 0 2.5rem;
    margin-bottom: 0.625rem;

    > li:nth-child(odd) {
      width: $flow-item-icon-size;
      height: $flow-item-icon-size;
      background-size: $flow-item-icon-size;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D%220%200%201024%201024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%22200%22%20height%3D%22200%22%3E%3Cpath%20d%3D%22M512%201024C229.6%201024%200%20794.4%200%20512S229.6%200%20512%200s512%20229.6%20512%20512S794.4%201024%20512%201024zM512%2096c-229.6%200-416%20186.4-416%20416%200%20229.6%20186.4%20416%20416%20416s416-186.4%20416-416C928%20282.4%20741.6%2096%20512%2096z%22%20p-id%3D%225043%22%20fill%3D%22%23cccccc%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
      
      &.done,
      &.process {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%221024%22%20height%3D%221024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%3E%3Cpath%20d%3D%22m0%2C512c0%2C-282.76979%20229.80559%2C-512%20512%2C-512c282.76979%2C0%20512%2C229.80559%20512%2C512c0%2C282.76979%20-229.80559%2C512%20-512%2C512c-282.76979%2C0%20-512%2C-229.80559%20-512%2C-512z%22%20fill%3D%22%23b2dbff%22%20%2F%3E%3Cpath%20d%3D%22m112.889%2C516.69136c0%2C-220.66841%20179.33611%2C-399.5555%20399.5555%2C-399.5555c220.66841%2C0%20399.5555%2C179.33611%20399.5555%2C399.5555c0%2C220.66841%20-179.33611%2C399.5555%20-399.5555%2C399.5555c-220.66841%2C0%20-399.5555%2C-179.33611%20-399.5555%2C-399.5555z%22%20fill%3D%22%230677DA%22%20%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
      }

      + li {
        height: 2px;
        flex: 1 1 0;
        background: $flow-process-color;
      }

      &.done + li {
        background: $flow-done-color;
      }

      &.process + li {
        background: -webkit-linear-gradient(left, $flow-done-color 50% , $flow-process-color 50%);
        background: -o-linear-gradient(right, $flow-done-color 50% , $flow-process-color 50%);
        background: -moz-linear-gradient(right, $flow-done-color 50% , $flow-process-color 50%);
        background: linear-gradient(to right, $flow-done-color 50% , $flow-process-color 50%);
      }
    }
  }

  .flow-content {
    align-items: flex-start;
    padding: 0 1.125rem;

    > li {
      flex: 1.5 1 0;
      text-align: center;

      &:first-child {
        flex-grow: 1;
        text-align: left;
      }

      &:last-child {
        flex-grow: 1;
        text-align: right;
      }
    }

    strong,
    em {
      display: block;
      font-weight: normal;
      font-style: normal;
    }

    strong {
      color: $flow-item-horizental-title-color;
      font-size: $flow-item-title-size;
      line-height: $flow-item-title-size;
      padding-bottom: 0.375rem;
    }

    em {
      color: $flow-item-content-color;
      font-size: $flow-item-content-size;
      line-height: $flow-item-content-size;
      word-wrap: normal;
      white-space: normal;
      word-break: keep-all;
    }
  }

  &.is-vertical {
    @include flex;
    height: auto;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem 1.125rem;

    .flow-line {
      flex: 0 0 0.875rem;
      flex-direction: column;
      padding: 0;
      margin: 0 1.125rem 0 0;

      > li:nth-child(odd) {
        + li {
          flex: 0 1 auto;
          width: 2px;
          height: 3.125rem;
        }

        &.process + li {
          background: -webkit-linear-gradient($flow-done-color 50% , $flow-process-color 50%);
          background: -o-linear-gradient($flow-done-color 50% , $flow-process-color 50%);
          background: -moz-linear-gradient($flow-done-color 50% , $flow-process-color 50%);
          background: linear-gradient($flow-done-color 50% , $flow-process-color 50%);
        }
      }
    }

    .flow-content {
      flex-direction: column;

      > li {
        text-align: left;

        &:not(:last-child) {
          height: 4rem;
        }

        &.done > strong,
        &.process > strong {
          color: $flow-item-vertical-title-color;
        }

        strong {
          font-family: $flow-item-vertical-font-family;
          color: $flow-item-content-color;
          padding-bottom: 0.75rem;
        }
      }
    }
  }
}
