// variables
$numeric-key-size: 1.75rem;
$numeric-key-color: #030303;
$numeric-key-active-background: #dddddd;
$numeric-confirm-key-size: 1.25rem;

// numeric keyboard
.numeric-keyboard {
  @include popup;
  width: 100%;
  height: 12.5rem;
  background-color: white;

  > table {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    td {
      width: 25%;
      text-align: center;
      vertical-align: middle;
      color: $numeric-key-color;
      font-size: $numeric-key-size;

      &.key-delete,
      &.key-hide {
        background-size: 2.5rem;
        background-position: 50% 50%;
        background-repeat: no-repeat;
      }

      &.key-delete {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D%220%200%201024%201024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%22200%22%20height%3D%22200%22%3E%3Cpath%20d%3D%22M875.593995%20186.122001l-484.791311%200c-13.570063%200-26.584472%205.390777-36.178991%2014.986319L79.908958%20475.821009c-9.595542%209.595542-14.986319%2022.60995-14.986319%2036.178991s5.390777%2026.584472%2014.986319%2036.178991l274.713712%20274.711665c9.595542%209.595542%2022.608927%2014.986319%2036.178991%2014.986319l484.791311%200c46.033429%200%2083.48439-37.449937%2083.48439-83.483366L959.077362%20269.606391C959.078385%20223.572962%20921.627425%20186.122001%20875.593995%20186.122001zM907.913075%20754.395656c0%2017.84953-14.471596%2032.318056-32.31908%2032.318056l-484.791311%200L116.088972%20512.001023%20390.802684%20237.287311l484.791311%200c17.848507%200%2032.31908%2014.46955%2032.31908%2032.31908L907.913075%20754.395656z%22%20p-id%3D%222466%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M753.945401%20360.214015%20632.515794%20481.642598%20511.085164%20360.214015c0%200-16.061814-8.224312-30.356378%206.072299-14.294564%2014.294564-6.072299%2030.356378-6.072299%2030.356378l121.429607%20121.428583L486.800062%20627.357308c0%200-8.222265%2016.061814%206.072299%2030.356378%2014.296611%2014.296611%2030.357402%206.072299%2030.357402%206.072299l109.286032-109.285009%20109.286032%20109.285009c0%200%2016.061814%208.224312%2030.357402-6.072299%2014.294564-14.294564%206.070252-30.356378%206.070252-30.356378L668.944472%20518.072299%20790.375102%20396.642692c0%200%208.220219-16.061814-6.074346-30.356378C770.007215%20351.989703%20753.945401%20360.214015%20753.945401%20360.214015z%22%20p-id%3D%222467%22%20class%3D%22selected%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
      }

      &.key-hide {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D%220%200%201024%201024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%22200%22%20height%3D%22200%22%3E%3Cpath%20d%3D%22M931.361113%20578.590628%2092.637864%20578.590628c-15.187911%200-27.499307-12.31242-27.499307-27.499307l0-343.738785c0-15.187911%2012.311397-27.499307%2027.499307-27.499307l838.72325%200c15.186887%200%2027.499307%2012.311397%2027.499307%2027.499307l0%20343.738785C958.860421%20566.278207%20946.548%20578.590628%20931.361113%20578.590628zM931.361113%20207.352535%2092.637864%20207.352535l0%20343.738785%20838.72325%200L931.361113%20207.352535zM202.635093%20317.347718%20147.636478%20317.347718l0-54.996568%2054.998615%200L202.635093%20317.347718zM202.635093%20413.595806%20147.636478%20413.595806l0-54.999638%2054.998615%200L202.635093%20413.595806zM202.635093%20509.842871%20147.636478%20509.842871l0-54.998615%2054.998615%200L202.635093%20509.842871zM298.881135%20317.347718l-54.998615%200%200-54.996568%2054.998615%200L298.881135%20317.347718zM298.881135%20413.595806l-54.998615%200%200-54.999638%2054.998615%200L298.881135%20413.595806zM298.881135%20509.842871l-54.998615%200%200-54.998615%2054.998615%200L298.881135%20509.842871zM395.128199%20317.347718%20340.130607%20317.347718l0-54.996568%2054.998615%200L395.129222%20317.347718zM395.128199%20413.595806%20340.130607%20413.595806l0-54.999638%2054.998615%200L395.129222%20413.595806zM683.869393%20509.842871%20340.130607%20509.842871l0-54.998615%20343.738785%200L683.869393%20509.842871zM780.116457%20317.347718l-54.998615%200%200-54.996568%2054.998615%200L780.116457%20317.347718zM780.116457%20413.595806l-54.998615%200%200-54.999638%2054.998615%200L780.116457%20413.595806zM780.116457%20509.842871l-54.998615%200%200-54.998615%2054.998615%200L780.116457%20509.842871zM876.363522%20317.347718l-54.998615%200%200-54.996568%2054.998615%200L876.363522%20317.347718zM876.363522%20413.595806l-54.998615%200%200-54.999638%2054.998615%200L876.363522%20413.595806zM876.363522%20509.842871l-54.998615%200%200-54.998615%2054.998615%200L876.363522%20509.842871zM628.870778%20358.596168l54.998615%200%200%2054.999638-54.998615%200L628.870778%20358.596168zM628.870778%20262.35115l54.998615%200%200%2054.996568-54.998615%200L628.870778%20262.35115zM532.623713%20358.596168l54.998615%200%200%2054.999638-54.998615%200L532.623713%20358.596168zM532.623713%20262.35115l54.998615%200%200%2054.996568-54.998615%200L532.623713%20262.35115zM436.377672%20358.596168l54.998615%200%200%2054.999638-54.998615%200L436.377672%20358.596168zM436.377672%20262.35115l54.998615%200%200%2054.996568-54.998615%200L436.377672%20262.35115zM378.033869%20669.14197l136.114051%20136.114051%20136.114051-136.114051%2019.442818%2019.444864L514.148943%20844.145749%20358.589005%20688.585811%20378.033869%20669.14197z%22%20p-id%3D%222184%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
      }

      &.key-confirm {
        font-size: $numeric-confirm-key-size;
        color: $primary-invert;
        background-color: $primary;

        &.is-active {
          background-color: darken($primary, 10%);
        }
      }

      &.is-active {
        background-color: $numeric-key-active-background;
      }
    }
  }
}
