@import "../iconfonts/index";

/* Variables */
$icon-size-default: 1rem !default;
$icon-size-small: 0.5rem !default;
$icon-size-medium: 1.5rem !default;
$icon-size-large: 2rem !default;
$icon-sizes: ("large": $icon-size-large, "medium": $icon-size-medium, "small": $icon-size-small);

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: $icon-size-default;
  width: $icon-size-default;

  > i:before {
    font-size: $icon-size-default;
    line-height: $icon-size-default;
  }

  /* Sizes */
  @each $name, $size in $icon-sizes {
    &.is-#{$name} {
      height: $size;
      width: $size;

      > i:before {
        font-size: $size;
        line-height: $size;
      }
    }
  }

  /* Colors */
  @each $name, $pair in $colors {
    &.is-#{$name} {
      color: nth($pair, 1);
    }
  }
}
